@font-face {
  font-family: "Mulish";
  src: url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Mulish:wght@1000&display=swap");
}
/* 3366ff */
.app {
  background-color: rgba(249, 88, 115, 0.664);
  min-height: 100vh;
  position: relative;
}
.homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  color: green;
  transform: translate(-50%, -50%);
  display: flex;
}
.hearts {
  font-size: 3rem;
  transform: translateY(0.3rem);
  margin-right: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  opacity: 0.5;
}
.welcome {
  width: 100%;
  font-weight: bold;
  font-style: italic;
  font-family: "caveat", "Helvetica Neue";
}
.next {
  transform: translateY(3rem);
}
.urs_number {
  display: flex;
  flex-direction: column;
}
.countrycode {
  display: inline;
  width: 8rem;
}
.number_submit {
  transform: translateY(1rem);
}
.numbers_label {
  font-size: 1.4rem;
  font-weight: 500;
  transform: translateX(30%);
}
.facebook_heading {
  font-size: 2rem;
  font-family: "Mulish", sans-serif;
  font-weight: 1000;
  color: #0066ff;
}
.facebook_inputs input[type="text"] {
  background-color: rgba(0, 0, 0, 0.707);
}
