@font-face {
  font-family: "Mulish";
  src: url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Mulish:wght@1000&display=swap");
}
/* 3366ff */
.centering_horizontal {
  display: table;
  margin: 0 auto;
}
.home {
  background-color: rgba(249, 88, 115, 0.664);
  min-height: 100vh;
  position: relative;
}
.home_content{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%)
}
.home_list {
  list-style:circle;
  font-size: 1.3rem;
  font-style: italic;
  text-decoration: underline;
}
.hearts {
  font-size: 3rem;
  transform: translateY(0.3rem);
  margin-right: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  opacity: 0.5;
}
.welcome {
  width: 100%;
  font-weight: bold;
  font-style: italic;
  font-family: "caveat", "Helvetica Neue";
}
.next {
  position: relative;
  left: 60%;
  width:6rem;
}
.urs_number {
  display: flex;
  flex-direction: column;
}
.countrycode {
  display: inline;
  width: 8rem;
}
.number_submit {
  transform: translateY(1rem);
}
.numbers_label {
  font-size: 1.4rem;
  font-weight: 500;
  transform: translateX(30%);
}
.facebook_heading {
  font-size: 2rem;
  font-family: "Mulish", sans-serif;
  font-weight: 1000;
  color: #0066ff;
}

#form_control {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  font-size: 1.15rem;
}
.login_button {
  width: 100%;
}
.forgotten_password {
  text-align: center;
}
.forgotten_password__link {
  text-decoration: none;
  font-size: 1.4rem;
}
.create_new__acount {
  transform: translateX(2rem);
}
.footer_list {
  list-style-type: disc;
}
/* error page */
.error_message {
  min-width: 100vw;
  background-color: rgb(222, 6, 6);
  color: white;
}
.find_account {
  font-weight: bold;
  font-size: 1.1rem;
}
.icon_div {
  position: relative;
  margin-top: 3rem;
}
.mobile_icon::after {
  content: " ";
  display: table;
  clear: both;
  width: 5rem;
  height: 5rem;
  background-color: #0066ff9e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.mobile_icon__icon {
  z-index: 10;
  font-size: 3rem;
  color: rgb(144, 139, 139);
}
.link_underline {
  text-decoration: none;
  color: #0066ff;
}
